## Objetivo

Modelar um classificador de alunos que prestaram o ENEM apenas para finalidade de treineiro.

In [242]:
import pandas as pd

In [243]:
%matplotlib inline

In [244]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [245]:
print(train.shape, test.shape)

(13730, 167) (4570, 43)

## Análise dos dados

Baseado nas formas dos datasets, percebe-se que muitas features não estão presentes no set de teste. É esperado então que sejam trabalhadas apenas as colunas presentes no set de teste.

Como já discutido, o foco da análise é a variável `IN_TREINEIRO`

In [246]:
test.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'TP_DEPENDENCIA_ADM_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA',
       'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
      dtype='object')

In [247]:
colunas = ['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 
       'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q047']

colunas = colunas + ['IN_TREINEIRO']

train = train[colunas]

In [248]:
train.IN_TREINEIRO.isna().sum()

0

In [249]:
train.IN_TREINEIRO.value_counts()

0    11947
1     1783
Name: IN_TREINEIRO, dtype: int64

In [250]:
train.corr().IN_TREINEIRO

CO_UF_RESIDENCIA   -0.034944
NU_IDADE           -0.295091
TP_COR_RACA         0.009676
TP_NACIONALIDADE   -0.015179
TP_ST_CONCLUSAO     0.533983
TP_ANO_CONCLUIU    -0.257710
TP_ESCOLA          -0.244562
TP_PRESENCA_CN      0.094692
TP_PRESENCA_CH      0.094692
TP_PRESENCA_LC      0.092454
TP_PRESENCA_MT      0.092454
NU_NOTA_CN         -0.037874
NU_NOTA_CH         -0.053460
NU_NOTA_LC         -0.028261
TP_LINGUA          -0.036395
NU_NOTA_COMP1      -0.008709
NU_NOTA_COMP2      -0.023308
NU_NOTA_COMP3      -0.030147
NU_NOTA_COMP4      -0.025958
NU_NOTA_COMP5      -0.025811
NU_NOTA_REDACAO    -0.026328
IN_TREINEIRO        1.000000
Name: IN_TREINEIRO, dtype: float64

Foram features com correlação medida maior ou menos que 0.2

In [251]:
fts_relevantes = ['NU_INSCRICAO', 'NU_IDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA']
target = ['IN_TREINEIRO']

In [252]:
train = train[fts_relevantes + target]
train.head()

,NU_INSCRICAO,NU_IDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,24,1,4,1,0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,17,2,0,2,0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,21,3,0,1,0
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,25,1,9,1,0
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,28,1,4,1,0

Para que não haja inferência do modelo sobre os valores inteiros que aqui representam categorias, serão obtidas variáveis 'dummies'.

In [253]:
dummies = pd.get_dummies(train[['TP_ST_CONCLUSAO', 'TP_ESCOLA']].astype(str))
train.drop(['TP_ST_CONCLUSAO', 'TP_ESCOLA'], axis=1, inplace=True)
train = pd.concat([train, dummies], axis=1, sort=False)

In [254]:
train.corr().IN_TREINEIRO

NU_IDADE            -0.295091
TP_ANO_CONCLUIU     -0.257710
IN_TREINEIRO         1.000000
TP_ST_CONCLUSAO_1   -0.367584
TP_ST_CONCLUSAO_2   -0.260120
TP_ST_CONCLUSAO_3    0.859856
TP_ST_CONCLUSAO_4   -0.083799
TP_ESCOLA_1          0.260120
TP_ESCOLA_2         -0.235201
TP_ESCOLA_3         -0.080326
TP_ESCOLA_4         -0.003297
Name: IN_TREINEIRO, dtype: float64

### Balanceamento do dataset com *undersampling*

Será selecionada uma amostra com a categoria mais numerosa.

In [255]:
df_train = pd.concat([train.query('IN_TREINEIRO == 1'), train.query('IN_TREINEIRO == 0').sample(1783, 
                        random_state=42)], sort=False)

In [256]:
df_train.IN_TREINEIRO.value_counts()

1    1783
0    1783
Name: IN_TREINEIRO, dtype: int64

In [257]:
y = df_train.IN_TREINEIRO
X = df_train.drop('IN_TREINEIRO', axis=1)

### Ajuste do set de teste

In [258]:
test = test[fts_relevantes]

In [259]:
dummies = pd.get_dummies(test[['TP_ST_CONCLUSAO', 'TP_ESCOLA']].astype(str))
test.drop(['TP_ST_CONCLUSAO', 'TP_ESCOLA'], axis=1, inplace=True)
test = pd.concat([test, dummies], axis=1, sort=False)

### AutoML

In [188]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, test_size=0.25)

tpot = TPOTClassifier(generations=5, population_size=50, verbosity=2)
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=300.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: 0.9913990689208582
Generation 2 - Current best internal CV score: 0.9913990689208582
Generation 3 - Current best internal CV score: 0.9913990689208582
Generation 4 - Current best internal CV score: 0.9913990689208582
Generation 5 - Current best internal CV score: 0.9913990689208582
Best pipeline: RandomForestClassifier(input_matrix, bootstrap=True, criterion=gini, max_features=0.15000000000000002, min_samples_leaf=11, min_samples_split=13, n_estimators=100)
0.9966367713004485

In [264]:
predictions = tpot.predict(test.drop('NU_INSCRICAO', axis=1))

In [267]:
solution = pd.DataFrame({"NU_INSCRICAO": test.NU_INSCRICAO, "IN_TREINEIRO": predictions})
solution.to_csv("answer.csv", index = False)

In [268]:
solution

                                  NU_INSCRICAO  IN_TREINEIRO
0     ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1     177f281c68fa032aedbd842a745da68490926cd2             0
2     6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3     5c356d810fa57671402502cd0933e5601a2ebf1e             0
4     df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0
5     3f28749fb79fb059caf5aed79625a5addfd7a91a             0
6     bb2a0edddf3c59181a1496390aaaee7f32624d9d             1
7     cc7cab347fe5455aae983f3701ca40f84dc01949             0
8     95e9338f1da02f7bfa0e3194130afdccc0fb5457             1
9     155f84f2ee5b34e658f2adcc70f2ec83e37040cb             0
10    40f4566da0536c486a34ec6ba85257eaebf3255c             0
11    366749b2ea3e6023fdbfdbf7c6596dfab31885d9             0
12    52502d4aca10ad7261a4fe9983ddca1fd8b45c31             0
13    52b20639bb0294b01c9be89f80cf682ac4d9f133             0
14    1718c649736b61d49a714f2a1c0a3e37a4d7c3b4             0
15    2410aa55f6eedc95bf049e118f7686714b7efca7             0
16    a82ffea78453d320efe7800590c717a32a9b9c7a             0
17    4a5b86a6ea23f1551456cbf49ed54885992de4ce             1
18    d3a6a5746484c9046c1fc1f58f5a0a4da252c391             0
19    d18ae8829870011d4a3b1651e0bfa1640b8e9eb2             0
20    b79c3f5daf56ab613a6ee75c8ad7d190cca42a78             0
21    f2a7137f1f083351e14c6625a25cdd6809abb9eb             0
22    bc9bf0eedfd80d0ce69a6df520b634790f3ce448             0
23    c567a1f6e1d7a22b58ad729bdc2a4b2836da2039             0
24    a309ebeff49f88dbab213711495fbb13db2328ef             0
25    18d4f88a769aa62d7732a5fa610d935893da52ae             0
26    c4a95595f52e40030703fda3dbfd7a7932395d3b             0
27    d3464236d53369514fbf151775b514a596a67400             0
28    eaafa5442e02ae0eb1269507572450c52aa373a6             0
29    e9e4c0a15dbd4e92cace2e00b95c16ad08632e17             0
...                                        ...           ...
4540  d4dfcd1c05a30cdbea87c1e98f8663e456c86d0e             0
4541  77011c6ec5792e28086ba34d0e53faf28e7a0809             0
4542  89346606f1baa1450cdc099107eeef05342e5852             0
4543  5f512fb3556a7a567bdca975191c40ca08d492b8             0
4544  f1f4cbbebcf27ed28d720198a5018fb362875af1             0
4545  f816860ce5c2b57bd762b58837fe3ba39f59fa2b             0
4546  1465217e49913041851bc4ba75c17736cb9a6368             0
4547  29db02b5c661d7ba17547fcb84bb3df3f2345607             0
4548  3a166e9f4f34e0766e0d8bc74a6caee3a573bc5f             0
4549  5c755a25a3441f56891e98d571e5237392856fe1             0
4550  27b674aea91a8a3c6652212e3cc9dd41370095b9             0
4551  e29324716ee9ce7bea9383480aa98f59c7a6d885             0
4552  9eaf628037ff65afa2a424d2329a38e80b326f8f             0
4553  46d949289f8eddad46c9799671a4c1a63d6b2bf1             0
4554  bfcb0cd5751b3a8d7c7447bec542235242c36caf             1
4555  b63a50e01747dfd607f88af029ec89324da61966             1
4556  cdf6d93623ca5116a0d483a8682b5f35eb99f6f3             0
4557  d4e35bc6c21e119c78c411bdd4ff3bdab7fa7b1b             0
4558  80689f334285ddc088d8ee19c28bc289de2126e7             0
4559  1c4d5d329dd792c39e52de9547718d7bdb307ded             0
4560  e4d38f80b6c869e4748cbef9373a22cc5c775728             0
4561  ea385ce7d39aa1803bbbe7eb7dd9ff574dbbd7b9             0
4562  7e3bcf2966378b00af9ca687bcdb8c5c85e9cfeb             0
4563  3b71684faf93eac1ae36380f35c54253e4b13509             0
4564  96f0f13cd1e74986eddd4a97bf1a3006a8ce2f74             0
4565  361b7fcd8867119550fe2af5aa729ffad89a7cf5             0
4566  d8a0e4c9e29494cc9bba2422bd79333931475ee1             0
4567  3f1c3388244df8d6521e983a809292d9f3bca643             0
4568  1778e9c4cef591beb6b986d191d15ed05de816b0             0
4569  096809759695097e384e766d2d9e23a34fc81610             0

[4570 rows x 2 columns]