In [1]:
import pandas as pd

df = pd.read_csv("desafio1.csv")
df.set_index('RowNumber', inplace=True)

In [2]:
df.head()

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [3]:
df.describe()

,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [4]:
df.isna().sum()

id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

### Proposta

Após o pré-tratamento exploração de anamnese do conjunto de dados, percebeu-se que não há valores do tipo NaN, e todos os campos aparentam estar condizentes com o tipo de dado.

Pede-se então a _média_, _mediana_, _moda_, e _desvio padrão_ da **pontuação de crédito** por **estado**. Nas tabelas anteriores, é possível verificar que estas características ou **features** estão presentes no conjunto de dados fornecido.

In [15]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

Apenas 03 estados compõem a distribuição de dados do conjunto.
Sabe-se que os métodos para obtenção dos parâmetros estatísticos desejados são: .mean(), .median(), .mode(), .std().

In [22]:
def side_by_side(*objs, **kwds):
    ''' Une fonction print objects side by side '''
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))

In [137]:
features_of_interest = ['pontuacao_credito', 'estado_residencia']

mean = df[features_of_interest].groupby('estado_residencia').mean()
median = df[features_of_interest].groupby('estado_residencia').median()
std = df[features_of_interest].groupby('estado_residencia').std()
side_by_side(mean, median, std)
print('\n\n')

modes = pd.DataFrame()
for i in df['estado_residencia'].value_counts().index:
#     print(type(df[['pontuacao_credito', 'estado_residencia']].query(f'estado_residencia=="{i}"').mode()))
    modes = modes.append(df[['pontuacao_credito', 'estado_residencia']]
                         .query(f'estado_residencia=="{i}"').mode().set_index('estado_residencia'))
    
modes

                   pontuacao_credito                       pontuacao_credito                       pontuacao_credito
estado_residencia                       estado_residencia                       estado_residencia
PR                        648.961294    PR                               650    PR                         98.607186
RS                        651.105143    RS                               650    RS                         95.136598
SC                        649.537653    SC                               653    SC                         97.233493

                   pontuacao_credito
estado_residencia
SC                               850
RS                               850
PR                               850

### Da exportação dos resultados

Foi solicitado que se exportasse os dados em um objeto do tipo JSON, como no modelo a seguir.

In [146]:
import json

with open('./submission.json') as file:
    model_file = json.load(file)
    
model_file

{'SC': {'moda': 0.0, 'mediana': 0.0, 'media': 0.0, 'desvio_padrao': 0.0},
 'RS': {'moda': 0.0, 'mediana': 0.0, 'media': 0.0, 'desvio_padrao': 0.0},
 'PR': {'moda': 0.0, 'mediana': 0.0, 'media': 0.0, 'desvio_padrao': 0.0}}

Os dados obtidos na seção anterior estão guardados nas variáveis: **mean, median, modes, std**.

In [156]:
for key in model_file.keys():
    model_file[key]['moda'] = float(modes.loc[key][0])
    model_file[key]['mediana'] = float(median.loc[key][0])
    model_file[key]['media'] = float(mean.loc[key][0])
    model_file[key]['desvio_padrao'] = float(std.loc[key][0])

model_file

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755}}

Preenchidos os campos do JSON, exporta-se o arquivo.

In [157]:
model_file

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755}}

In [158]:
with open('./submission.json', 'w') as output_file:
    json.dump(model_file, output_file)